
.card-content-ios.card-purple {



    background: #F5821F;


}
.item1{
    background: #F5821F;


}


.bilog{

    overflow: visible;
    border-radius: 100%;
    background-color: white;
    width: 100px;
    height: 100px;
}
.item-content


{
    background: #F5821F;


}


