
.card-content-ios.card-purple {



    background: #67366F !important;


}
.item1{
    background: #67366F;


}


.bilog{

    overflow: visible;
    border-radius: 100%;
    background-color: white;
    width: 100px;
    height: 100px;
}
.item-content


{
    background: #67366F;


}


.rectangle{

position: absolute;
left: 0.02%;
right: 0%;
top: 34.71%;
bottom:14rem;

background: #67366F;
box-shadow: 0px -8px 24px rgba(0, 0, 0, 0.5);
}